# Keep videos under 100MB for GitHub. Use ./compress-media.sh to recompress.
*.py
*.pyc
*.pptx
*.pyi
.python_packages/xlsxwriter-3.2.9.dist-info/WHEEL
.python_packages/xlsxwriter-3.2.9.dist-info/top_level.txt
.python_packages/xlsxwriter-3.2.9.dist-info/RECORD
.python_packages/xlsxwriter-3.2.9.dist-info/METADATA
.python_packages/xlsxwriter-3.2.9.dist-info/LICENSE.txt
.python_packages/xlsxwriter-3.2.9.dist-info/INSTALLER
.python_packages/typing_extensions-4.15.0.dist-info/WHEEL
.python_packages/typing_extensions-4.15.0.dist-info/RECORD
.python_packages/typing_extensions-4.15.0.dist-info/METADATA
.python_packages/typing_extensions-4.15.0.dist-info/licenses/LICENSE
.python_packages/typing_extensions-4.15.0.dist-info/INSTALLER
.python_packages/python_pptx-1.0.2.dist-info/WHEEL
.python_packages/python_pptx-1.0.2.dist-info/top_level.txt
.python_packages/python_pptx-1.0.2.dist-info/REQUESTED
.python_packages/python_pptx-1.0.2.dist-info/RECORD
.python_packages/python_pptx-1.0.2.dist-info/METADATA
.python_packages/python_pptx-1.0.2.dist-info/LICENSE
.python_packages/python_pptx-1.0.2.dist-info/INSTALLER
.python_packages/pptx/templates/xlsx-icon.emf
.python_packages/pptx/templates/theme.xml
.python_packages/pptx/templates/pptx-icon.emf
.python_packages/pptx/templates/notesMaster.xml
.python_packages/pptx/templates/notes.xml
.python_packages/pptx/templates/generic-icon.emf
.python_packages/pptx/templates/docx-icon.emf
.python_packages/pptx/py.typed
.python_packages/pillow-12.2.0.dist-info/zip-safe
.python_packages/pillow-12.2.0.dist-info/WHEEL
.python_packages/pillow-12.2.0.dist-info/top_level.txt
.python_packages/pillow-12.2.0.dist-info/RECORD
.python_packages/pillow-12.2.0.dist-info/METADATA
.python_packages/pillow-12.2.0.dist-info/licenses/LICENSE
.python_packages/pillow-12.2.0.dist-info/INSTALLER
.python_packages/PIL/py.typed
.python_packages/PIL/_webp.cpython-313-darwin.so
.python_packages/PIL/_imagingtk.cpython-313-darwin.so
.python_packages/PIL/_imagingmorph.cpython-313-darwin.so
.python_packages/PIL/_imagingmath.cpython-313-darwin.so
.python_packages/PIL/_imagingft.cpython-313-darwin.so
.python_packages/PIL/_imagingcms.cpython-313-darwin.so
.python_packages/PIL/_imaging.cpython-313-darwin.so
.python_packages/PIL/_avif.cpython-313-darwin.so
.python_packages/PIL/.dylibs/libz.1.3.1.zlib-ng.dylib
.python_packages/PIL/.dylibs/libxcb.1.1.0.dylib
.python_packages/PIL/.dylibs/libXau.6.dylib
.python_packages/PIL/.dylibs/libwebpmux.3.dylib
.python_packages/PIL/.dylibs/libwebpdemux.2.dylib
.python_packages/PIL/.dylibs/libwebp.7.dylib
.python_packages/PIL/.dylibs/libtiff.6.dylib
.python_packages/PIL/.dylibs/libsharpyuv.0.dylib
.python_packages/PIL/.dylibs/libpng16.16.dylib
.python_packages/PIL/.dylibs/libopenjp2.2.5.4.dylib
.python_packages/PIL/.dylibs/liblzma.5.dylib
.python_packages/PIL/.dylibs/liblcms2.2.dylib
.python_packages/PIL/.dylibs/libjpeg.62.4.0.dylib
.python_packages/PIL/.dylibs/libharfbuzz.0.dylib
.python_packages/PIL/.dylibs/libfreetype.6.dylib
.python_packages/PIL/.dylibs/libbrotlidec.1.2.0.dylib
.python_packages/PIL/.dylibs/libbrotlicommon.1.2.0.dylib
.python_packages/PIL/.dylibs/libavif.16.4.1.dylib
.python_packages/lxml/xsltext.pxi
.python_packages/lxml/xslt.pxi
.python_packages/lxml/xpath.pxi
.python_packages/lxml/xmlschema.pxi
.python_packages/lxml/xmlid.pxi
.python_packages/lxml/xmlerror.pxi
.python_packages/lxml/xinclude.pxi
.python_packages/lxml/serializer.pxi
.python_packages/lxml/schematron.pxi
.python_packages/lxml/saxparser.pxi
.python_packages/lxml/sax.cpython-313-darwin.so
.python_packages/lxml/relaxng.pxi
.python_packages/lxml/readonlytree.pxi
.python_packages/lxml/public-api.pxi
.python_packages/lxml/proxy.pxi
.python_packages/lxml/parsertarget.pxi
.python_packages/lxml/parser.pxi
.python_packages/lxml/objectpath.pxi
.python_packages/lxml/objectify.pyx
.python_packages/lxml/objectify.cpython-313-darwin.so
.python_packages/lxml/nsclasses.pxi
.python_packages/lxml/lxml.etree_api.h
.python_packages/lxml/lxml.etree.h
.python_packages/lxml/iterparse.pxi
.python_packages/lxml/isoschematron/resources/xsl/XSD2Schtrn.xsl
.python_packages/lxml/isoschematron/resources/xsl/RNG2Schtrn.xsl
.python_packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/readme.txt
.python_packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_svrl_for_xslt1.xsl
.python_packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_schematron_skeleton_for_xslt1.xsl
.python_packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_schematron_message.xsl
.python_packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_dsdl_include.xsl
.python_packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_abstract_expand.xsl
.python_packages/lxml/isoschematron/resources/rng/iso-schematron.rng
.python_packages/lxml/includes/xslt.pxd
.python_packages/lxml/includes/xpath.pxd
.python_packages/lxml/includes/xmlschema.pxd
.python_packages/lxml/includes/xmlparser.pxd
.python_packages/lxml/includes/xmlerror.pxd
.python_packages/lxml/includes/xinclude.pxd
.python_packages/lxml/includes/uri.pxd
.python_packages/lxml/includes/tree.pxd
.python_packages/lxml/includes/schematron.pxd
.python_packages/lxml/includes/relaxng.pxd
.python_packages/lxml/includes/lxml-version.h
.python_packages/lxml/includes/libxslt/xsltutils.h
.python_packages/lxml/includes/libxslt/xsltlocale.h
.python_packages/lxml/includes/libxslt/xsltInternals.h
.python_packages/lxml/includes/libxslt/xsltexports.h
.python_packages/lxml/includes/libxslt/xsltconfig.h
.python_packages/lxml/includes/libxslt/xslt.h
.python_packages/lxml/includes/libxslt/variables.h
.python_packages/lxml/includes/libxslt/transform.h
.python_packages/lxml/includes/libxslt/templates.h
.python_packages/lxml/includes/libxslt/security.h
.python_packages/lxml/includes/libxslt/preproc.h
.python_packages/lxml/includes/libxslt/pattern.h
.python_packages/lxml/includes/libxslt/numbersInternals.h
.python_packages/lxml/includes/libxslt/namespaces.h
.python_packages/lxml/includes/libxslt/keys.h
.python_packages/lxml/includes/libxslt/imports.h
.python_packages/lxml/includes/libxslt/functions.h
.python_packages/lxml/includes/libxslt/extra.h
.python_packages/lxml/includes/libxslt/extensions.h
.python_packages/lxml/includes/libxslt/documents.h
.python_packages/lxml/includes/libxslt/attributes.h
.python_packages/lxml/includes/libxml/xpointer.h
.python_packages/lxml/includes/libxml/xpathInternals.h
.python_packages/lxml/includes/libxml/xpath.h
.python_packages/lxml/includes/libxml/xmlwriter.h
.python_packages/lxml/includes/libxml/xmlversion.h
.python_packages/lxml/includes/libxml/xmlunicode.h
.python_packages/lxml/includes/libxml/xmlstring.h
.python_packages/lxml/includes/libxml/xmlschemastypes.h
.python_packages/lxml/includes/libxml/xmlschemas.h
.python_packages/lxml/includes/libxml/xmlsave.h
.python_packages/lxml/includes/libxml/xmlregexp.h
.python_packages/lxml/includes/libxml/xmlreader.h
.python_packages/lxml/includes/libxml/xmlmodule.h
.python_packages/lxml/includes/libxml/xmlmemory.h
.python_packages/lxml/includes/libxml/xmlIO.h
.python_packages/lxml/includes/libxml/xmlexports.h
.python_packages/lxml/includes/libxml/xmlerror.h
.python_packages/lxml/includes/libxml/xmlautomata.h
.python_packages/lxml/includes/libxml/xlink.h
.python_packages/lxml/includes/libxml/xinclude.h
.python_packages/lxml/includes/libxml/valid.h
.python_packages/lxml/includes/libxml/uri.h
.python_packages/lxml/includes/libxml/tree.h
.python_packages/lxml/includes/libxml/threads.h
.python_packages/lxml/includes/libxml/schematron.h
.python_packages/lxml/includes/libxml/schemasInternals.h
.python_packages/lxml/includes/libxml/SAX2.h
.python_packages/lxml/includes/libxml/SAX.h
.python_packages/lxml/includes/libxml/relaxng.h
.python_packages/lxml/includes/libxml/parserInternals.h
.python_packages/lxml/includes/libxml/parser.h
.python_packages/lxml/includes/libxml/nanohttp.h
.python_packages/lxml/includes/libxml/nanoftp.h
.python_packages/lxml/includes/libxml/list.h
.python_packages/lxml/includes/libxml/HTMLtree.h
.python_packages/lxml/includes/libxml/HTMLparser.h
.python_packages/lxml/includes/libxml/hash.h
.python_packages/lxml/includes/libxml/globals.h
.python_packages/lxml/includes/libxml/entities.h
.python_packages/lxml/includes/libxml/encoding.h
.python_packages/lxml/includes/libxml/dict.h
.python_packages/lxml/includes/libxml/debugXML.h
.python_packages/lxml/includes/libxml/chvalid.h
.python_packages/lxml/includes/libxml/catalog.h
.python_packages/lxml/includes/libxml/c14n.h
.python_packages/lxml/includes/libexslt/exsltexports.h
.python_packages/lxml/includes/libexslt/exsltconfig.h
.python_packages/lxml/includes/libexslt/exslt.h
.python_packages/lxml/includes/htmlparser.pxd
.python_packages/lxml/includes/extlibs/zlib.h
.python_packages/lxml/includes/extlibs/zconf.h
.python_packages/lxml/includes/extlibs/localcharset.h
.python_packages/lxml/includes/extlibs/libcharset.h
.python_packages/lxml/includes/etreepublic.pxd
.python_packages/lxml/includes/etree_defs.h
.python_packages/lxml/includes/dtdvalid.pxd
.python_packages/lxml/includes/config.pxd
.python_packages/lxml/includes/c14n.pxd
.python_packages/lxml/includes/__init__.pxd
.python_packages/lxml/html/diff.cpython-313-darwin.so
.python_packages/lxml/html/_difflib.cpython-313-darwin.so
.python_packages/lxml/extensions.pxi
.python_packages/lxml/etree_api.h
.python_packages/lxml/etree.pyx
.python_packages/lxml/etree.h
.python_packages/lxml/etree.cpython-313-darwin.so
.python_packages/lxml/dtd.pxi
.python_packages/lxml/docloader.pxi
.python_packages/lxml/debug.pxi
.python_packages/lxml/cleanup.pxi
.python_packages/lxml/classlookup.pxi
.python_packages/lxml/builder.cpython-313-darwin.so
.python_packages/lxml/apihelpers.pxi
.python_packages/lxml/_elementpath.cpython-313-darwin.so
.python_packages/lxml-6.1.0.dist-info/WHEEL
.python_packages/lxml-6.1.0.dist-info/top_level.txt
.python_packages/lxml-6.1.0.dist-info/RECORD
.python_packages/lxml-6.1.0.dist-info/METADATA
.python_packages/lxml-6.1.0.dist-info/licenses/LICENSES.txt
.python_packages/lxml-6.1.0.dist-info/licenses/LICENSE.txt
.python_packages/lxml-6.1.0.dist-info/INSTALLER
